{% load mptt_tags %}
<h4>Каталог товаров </h4>
<div id="v-menu">
<div id="main-nav">
        <ul>
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <a class="a_category" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span class="cart-content"></span>

                <div id="sub-nav">
                    {% if not top_category.is_leaf_node %}
                        <div class="row-fluid"><ul>
                            {% for category in top_category.get_children %}
                            <li class="category_name"><a href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                                {% if not category.is_leaf_node %}
                                <ul class="column{{ category.extras.column }}">
                                    {% for item in category.get_children %}
                                        <li><a href="{% url lfs_category item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        
                    </ul>
                </div>
            </div>
                    {% endif %}
            </li>
            
            
        {% endfor %}
        </ul>
    </div>
</div>    

