{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}

{% block content %}

    {% if page %}
    <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> /
        </li>
        <li>
            <a href='/info/'> Новости </a> /
        </li>
        <li>
            <a href="{% url scms_view_category page_category.slug %}"> {{ page_category.name }}</a> / 
        </li>
        <li>
            <span>{{ page.title }}</span>
        </li>
    </ul>
        <h4>{{ page.title }}</h4>
        <div class="create_date">{{ page.create_date }}</div>
        <div class="full_text">
        {{ page.text|safe }}
        </div>

<script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div> 
<div class="vk_comments">
<script type="text/javascript">
  VK.init({apiId: 3720477, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
</script>  
</div>
    {% else %}
        {% if page_category %}
        <ul class="breadcrumb" >
            <li>
                <a href="/" ><i class="icon-home"></i></a> /
            </li>
             <li>
            {% if page_category %}<a href='/info/'>{{ info_page_name }}</a> /
            </li>
            <li>
                <span> {{ page_category.name }}</span>{% endif %}
            </li>
        </ul>
            <h4>{{ page_category.name }}</h4>
                {% autopaginate category_news page_category.pagination %}
            {% for n in category_news %}
                <div class="preamble">
                    <div class="title"><h5>{{ n.title }}</h5></div>
                    <div class="description">{{ n.preamble|safe }}</div>
                    {% if n.text %}<div class="more"><a href="/info/{{ page_category.slug }}/{{ n.slug }}.html">Читать дальше</a></div>{% endif %}
                </div>
            {% endfor %}
            </div>
            {% paginate %}
        {% endif %}
    {% endif %}


{% endblock %}
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider_{{id}}'))
})();
</script>