{% load i18n %}
<div class="cart-content">
    <div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div class="span3">
            <img src="{{ STATIC_URL }}img/empty-cart.png">
        </div>    
        <div class="span9">     
            <p>{% trans "Cart is empty." %}</p>      
        </div>
        {% else %}
        <div class="span3">
           <a  href="{% url lfs_checkout %}"> <img src="{{ STATIC_URL }}img/full-cart.png"></a>
        </div>    
        <div class="span9">     
            <p>{{ amount|floatformat }}{% trans "товаров." %} - <span>{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
            
        </div>  
        {% endif %}
        {% endwith %}
    </div>
</div>
<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
