{% autoescape on %}
<ul class="share_us_ul">
<script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru"
 data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"

></div> 
</ul>
{% endautoescape %}