{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}

{# This is version of top bar for printer #}
<div class="row-fluid print-show"><div class="span12">{{ SHOP.name }}</div></div>

{# This is a common version of top bar #}
<div class="row-fluid print-hide">
    <div class="span8">
        {% include "lfs/link_bar.html" %}
    </div>
    <div class="span4">
        <div class="navbar pull-right header-nav">
            <ul class="nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'lfs_my_account' %}">
                <i class="icon-user"></i> {% include "lfs/customer/customer_name.html" %}</a></li>


                {% if user.is_superuser or user.is_staff %}
                    <li><a href="{% url admin:index %}">{% trans 'Manage' %}</a></li>
                {% endif %}

                <li><a href="/logout">{% trans 'Logout' %}</a></li>
            {% else %}
                {% if CUSTOMER_AUTH_ENABLED %}
                    <li><a href="{% url lfs_login %}">{% trans 'Login' %}</a></li>
                {% endif %}                        
            {% endif %}
            </ul>
        </div>
    </div>
</div>