{% load i18n %}
<div class="control-group">
  <b class="control-label">{% trans 'Способ доставки' %}</b>
  <div class="controls payment-method">
      <select name="shipping_method"
          class="update-checkout">
      {% for shipping_method in shipping_methods %}
          <option value="{{shipping_method.id}}"
              id="shipping-method-{{shipping_method.id}}"
              {% ifequal shipping_method.id selected_shipping_method.id  %}selected="selected"{% endifequal %}>
              {{ shipping_method.name }}
          </option>
      {% endfor %}
    </select>
  </div>
      <div class="row-fluid shipping">
      <div class="span1">
        {% if selected_shipping_method.image %}
            <img src="{{ selected_shipping_method.image.url }}"
                 alt="{{ selected_shipping_method.name }}">
        {% endif %}
      </div>
      <div class="span8">
        {{ selected_shipping_method.description|safe }}
      </div>
    </div>
</div>

{% comment %}
{% for shipping_method in shipping_methods %}
    
    <div class="row-fluid shipping-method container">
        <div class="span1">
            <input type="radio"
                   name="shipping_method"
                   class="update-checkout"
                   {% ifequal shipping_method.id selected_shipping_method.id  %}checked="checked"{% endifequal %}
                   value="{{shipping_method.id}}"
                   id="shipping-method-{{shipping_method.id}}" />
        </div>
        <div class="span1">
            {% if shipping_method.image %}
                <img class="payment-method"
                     src="{{ shipping_method.image.url }}"
                     alt="{{ shipping_method.name }}">
            {% endif %}
        </div>

        <div class="span3">
            <label for="shipping-method-{{shipping_method.id}}">{{ shipping_method.name }}</label>
        </div>
        <div class="span7">
            {{ shipping_method.description|safe }}
        </div>
    </div>
{% endfor %}
{% endcomment %}