{% load lfs_tags %}
{% load l10n %}

{% localize off %}
{% if average %}
    <div class="average-rating"
         itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
               <ul class="star-rating small-star inline-rating">
                    <li class="current-rating"
                        style="width:{{average|multiply:10}}px">
                        Currently 3/5 Stars
                    </li>
                </ul>
    </div>
{% endif %}
{% endlocalize %}

