{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if categories %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
             <div id="categories_carousel" class="products-wrapper slideshow">
                <ul>
                {% for category in categories %}
                <li>
                    <div class="product-title">
                        <a href="{{ category.get_absolute_url }}" class="product-title">{{ category.name }}</a>
                    </div>
                    <div id="tab-{{ forloop.counter }}" class="portlet-item">
                        <div class="product-data">
                            <div class="image-wrapper">
                                <a href="{{ category.get_absolute_url }}">
                                   <img src="{{ category.get_image.url }}">
                                </a>
                            </div>

                        </div>
                    </div>
                </li>
                {% endfor %}{# slideshow categories #}
                 </ul>
                {# tabs #}

            </div>
            {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}

        </div>{# portlet-body #}
    </div>
{% endif %}

