{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
        {% load share_widget %}



{% if products %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {% if products|length < 5 or not slideshow %}
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
                <div class="wrap-product"> 
               {% for product in products %}
    
                    <li>
                        <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                <div class="row">
                                    <div id="average-rating" class="span12">{% average_for_instance product %}</div>
                                </div>
                                  <div class="row">
                                    <div  class="span12"> 
                                        <div class="product-price">
                                            <span>{% format_as_price product.price %}</span>
                                             | <span id="price-dol_{{ product.id }}{{ forloop.counter }}"></span> UAH
                                        <script type="text/javascript">
     
                                                $(function(){
                                                    var v1 = {{ product.price}};
                                                    var v2 = $("#usd").text();  
                                                    var res = v1 * v2;
                                                    $("#price-dol_{{ product.id }}{{ forloop.counter }}").html(res.toFixed(2));
                                                })  
                                        </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <img src="{{ product.get_image.image.url_100x100 }}">
                                    </a>
                                </div>
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                
                {% endfor %}
                </div>
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
            {% elif slideshow or products|length > 5 %}
                {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
                 <div class="products-wrapper slideshow block">
                    <ul class="jcarousel-skin-tango">
                    {% for product in products %}
                    <li>
                        <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                <div class="row">
                                    <div id="average-rating" class="span12">{% average_for_instance product %}</div>
                                </div>
                                    <div class="row">
                                    <div class="span12">
                                        <div class="product-price">
                                            <span>{% format_as_price product.price %}</span>
                                             | <span id="price-dol_{{ product.id }}{{ forloop.counter }}"></span> UAH
                                        <script type="text/javascript">
     
                                                $(function(){
                                                    var v1 = {{ product.price|floatformat }};
                                                    var v2 = $("#usd").text();  
                                                    var res = v1 * v2;
                                                    $("#price-dol_{{ product.id }}{{ forloop.counter }}").html(res.toFixed(2));
                                                })  
                                 </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <img src="{{ product.get_image.image.url_100x100 }}">
                                    </a>
                                </div>
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}{# slideshow products #}
                     </ul>
                    {# tabs #}
                    
                    <ul style="display:none">
                    {% for product in products %}
                        <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    </ul>

                </div>
               
                {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
                <script type="text/javascript">
               //     $('.slideshow').tabs({ fx: { opacity: 'toggle', duration: 'fast' } }).tabs('rotate', 3000);
                    
                    $(function(){
                    $('ul.jcarousel-skin-tango').each(function(index){
                        $(this).attr('id', 'tabs_carousel-' + index); 
                    })

                        $("[id*=tabs_carousel]").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
                        
                       //hack fo other carousels
              


                    })
                </script>
            {% endif %}
            {# slideshow check #}
        </div>{# portlet-body #}
    </div>
{% endif %}
