{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
        {% load share_widget %}


{% include "lfs/catalog/categories/product/toolbar.html" %}
<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
<div class="wrapp-product-list-item">
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
           <span>{% average_for_instance product %}</span>
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>  
                <div class="product-statuses">
                    <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                    {% if product.manage_stock_amount %}
                    <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                    {% if product.unit %}{{ product.unit }}{% endif %}</span>
                    {% endif %}                
                    {% if product.manual_delivery_time %}
                    {% trans "Delivery in" %} {{ product.delivery_time }}
                    {% endif %}
                </div>                      
            </div>
            <div class="span10">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <div class="product-description">{{ product.get_short_description|safe }}</div>
                <div class="row">
                <div class="span6">
                
                {% if product.status.show_buy_button %}
                <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                    class="add-to-cart-form"
                     method="post">
                {% csrf_token %}
                <input name="product_id" type="hidden" value="{{ product.id }}" />
                <input name="ajax_mode" type="hidden" value="1" />
                <button><img src="/static/img/empty-cart.png" /><span>{% trans "Добавить в корзину" %}</span></button>
                </form>
                {% endif %}
                </div>
                <div class="span6">
                {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}
                    | <span id="price-dol_{{ product.id }}1"></span> UAH
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ product.for_sale_price|floatformat }};
                                    var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 * v2;
                                    $('#price-dol_{{ product.id }}1').html(res.toFixed(2));
                              });
                            </script>
                </span>
                 <ul class="pull-right sale">
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %} | <span id="price-dol_{{ product.id }}"></span> UAH
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ product.price|floatformat }};
                                    var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 * v2;
                                    $('#price-dol_{{ product.id }}').html(res.toFixed(2));
                              });
                            </script></span>
                </div>
            {% endif %}
            </div>
            </div>
             <div class="product-form">
                      {% if product.id in request.session.comparison %}
                    <a id="compare_{{product.id}}" href="{% url lfs_comparison %}">{% trans "Сравнить" %}</a>
                    {% else %}
                    <a id="compare_{{product.id}}" href="javascript:comparison_add_product({{ product.id }},{% url lfs_comparison %})"><span class="blue">{% trans "Добавить к сравнению" %}</span></a>
                    {% endif %}
            </div>

            </div>
        </div>
        </div>
    </div>
        {% endfor %}
</div>
<div class="description">
    {{ category.description|safe }}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
