{% load i18n %}
{% load sshop_tags %}
{% if accessories %}
        <table class="accessories" style="width:100%;">
    {% for a in accessories %}
            <tr>
                <td style="width: 122px;">                
                    <div class="image-wrapper">
                        <a href="{{ a.accessory.get_absolute_url }}">
                           <img src="{{ a.accessory.get_image.image.url_100x100 }}">
                        </a>
                    </div>
                </td>
                <td>
                    <a href="{{ a.accessory.get_absolute_url }}">{{ a.accessory.name }}<br /> <br /></a>
                    <div class="description">
                        {{ a.accessory.description|safe }}
                    </div>
                    <span class="product-price">{{ a.accessory.price|floatformat:2 }} {{ SHOP.default_currency.abbr }} |   
                    <span id="price-dol_{{ forloop.counter }}"></span>{% static_block "price" %} UAH
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ a.accessory.price|floatformat }};
                                    var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 * v2;
                                    $('#price-dol_{{ forloop.counter }}').html(res.toFixed(2));
                              });
                            </script>
                        </span>  
                </td>
      
            </tr>
            

    {% endfor %}
        </table>
{% else %}
    <div class="alert alert-info">{% trans 'У данного товара нет аксессуаров' %}</div>
{% endif %}
