{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
        {% load share_widget %}

<div class="row-fluid">
<div class="span12">
<div class="wrapp-product-list-item">
    <div class="row-fluid product-toolbar">
    <div class="span12"><h2 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h2></div>
    </div>
<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form"
 method="post">
{% csrf_token %}
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span3">
        <div>{% average_for_instance product %}</div>
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
        <div class="row-fluid">
            <div class="span12">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}   
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="span1">
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span12">
            <a href="{{ image.image.url }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span8" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
<div class="span5">
        <div class="row-fluid">
            <div class="span12">
                {# Prices #}
                <div class="prices">
                {% if product.get_for_sale %}
                <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %} | <span id="price-dol_{{ product.id }}a"></span> UAH
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ product.for_sale_price|floatformat }};
                                    var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 * v2;
                                    $('#price-dol_{{ product.id }}a').html(res.toFixed(2));
                              });
                            </script>
                        </span>
                         <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% price product %} | <span id="price-dol_{{ product.id }}a"></span> UAH
                        <script type="text/javascript">
                              $(document).ready(function(){
                                    var v1 = {{ product.price|floatformat }};
                                    var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 * v2;
                                    $('#price-dol_{{ product.id }}a').html(res.toFixed(2));
                              });
                            </script>
                        </span>
                    </div>
                {% endif %}
                </div> <!-- prices -->
            </div>
        </div>

        <div class="row-fluid">
        <div class="span12">
            {% if product.status.show_buy_button %}
                 {% if product.get_active_packing_unit %}
                <div class="product-quantity packing-unit pull-left" id="packing-url" 
                data="{% url lfs_calculate_packing product.id %}">
                    <!--<input class="number quantity" name="quantity" type="text" 
                    value="{{ quantity }}" /> -->
                    {{ unit }}
                </div>
                {% else %}
                <div class="product-quantity pull-left">
                   {% comment %}<label for="quantity" class="pull-left">
                        {% if unit %} {{ unit }}: {% else %} {% trans "Quantity" %}: {% endif %}
                    </label>{% endcomment %}
                </div>
                {% endif %}

                <button type="submit" name="add-to-cart"><img src="/static/img/empty-cart.png" /><span>{% trans "Добавить в корзину" %}</span></button>
        {% else %}
            <button 
            onclick="window.location='{% url lfs_contact_form %}'; return false"
            name="">
                {% trans 'Send request' %}
            </button>
        {% endif %}
        {% if product.id in request.session.comparison %}
            <a href="{% url lfs_comparison %}">{% trans "Сравнить" %}</a>
            {% else %}
            <a id="compare" href="javascript:compare_add_product({{ product.id }})"><span class="blue">{% trans "Добавить к сравнению" %}</span></a>
            {% endif %}





                            {% if product.status.show_ask_button %}
                <div >
                    <a href="{% url lfs_product_question product.id %}" 
                    id="id_ask_question" class="modal-link">
                    {% trans "Ask the question" %}</a>
                </div>
                {% endif %}
        {% if product in request.session.notebook %}
        <a id="notebook_{{ product.id }}" class="notebook" href="{% url lfs_notebook %}">{% trans "В блокноте" %}</a>
        {% else %}
        <a id="notebook_{{ product.id }}" class="notebook" href="javascript:notebook_add_product({{ product.id }})">{% trans "Notebook" %}</a>
        {% endif %}
        </div>
        </div>
    </div>
        <div class="span6">
        <div class="row-fluid">
            {% share_us_widget %}
            <div class="short-description">
                <span itemprop="description">{{ product.get_short_description|safe}}<span>
            </div>
    </div>
</div>
    </div>

</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

{% comment %}<div class="cart-toolbar well">
<div class="row-fluid">
    <div class="span5">
        <div class="label label-info">{% trans 'Bages will be here' %}</div>
    </div>
    {# Notebook and add to cart buttons #}
    <div class="span7">
        <div class="add-to-cart-form pull-right">
            {% if product.status.show_buy_button %}
               
                {% endif %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset6">
        <div class="packing-result pull-right">
            {{ packing_result }}
        </div>
    </div>
</div>

</div>
{% endcomment %}


{# Configurable Properties #} {% if product.is_configurable_product %}

{% endif %}
{# Variants #} {% if product.is_variant %}
<div class="row-fluid">
    <div class="span12">
        <div class="variants">
            <h3 class="section">
                {% trans 'Variants' %}
            </h3>
            {# List #} {% if display_variants_list %}
            <table class="table table-bordered table-striped product-variants lfs-default"
            data="{% url lfs_select_variant %}">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    {% for product_variant in variants|slice:"1" %}
                    {% for property in product_variant.get_variant_properties %}
                    <th>
                        {{ property.title }}
                    </th>
                    {% endfor %}
                    {% endfor %}
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                </tr>
                {% for product_variant in variants %}
                <tr>
                    <td class="select">
                        <input type="radio" class="variant" name="variant_id" 
                        value="{{ product_variant.id }}"
                        {% ifequal product_variant.id product.id %}
                        checked="checked" 
                        {% endifequal %} />
                    </td>
                    <td>
                        {{ product_variant.get_name }}
                    </td>
                    {% for property in product_variant.get_variant_properties %}
                    <td>
                        {{ property.value }}
                    </td>
                    {% endfor %}
                    <td class="number" nowrap="nowrap">
                        product_variant|get_price:request|currency:request}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                {% for property in properties %}
                <div>
                    <span class="property-label">
                        {{ property.title }}:
                    </span>
                    <select class="property" name="property_{{ property.id }}">
                        {% for option in property.options %}
                        <option value="{{ option.id }}" 
                        {% if option.selected %}selected="selected"{% endif %}>
                            {{ option.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    {% if product.has_description %}
    <li><a href="{% url lfs_product_description product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}

    <li><a href="#properties">{% trans "Характеристики" %}</a></li>

{% if product.has_accessories %}
    <li><a href="{% url lfs_product_accessories product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="{% url lfs_product_reviews product.slug %}"><span>{% trans "Отзывы" %}</span></a></li>
</ul>

<div id="properties">
    {{ global_properties|safe }}
    {% static_block "product" %}
</div>

</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>
</div>
<script type="text/javascript">
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url lfs_notebook %}");
                $('#notebook')[0].innerHTML = msg['html']
                mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                page_designer.page_rebuild();
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        $.ajax({
            url: "/comparison/add-product/" + product_id +"/",
            dataType: "json",
            success: function(msg){
                $("#compare").text("Сравнить");
                $("#compare").attr("href", "{% url lfs_comparison %}");
                $('#comparison')[0].innerHTML = msg['html']
                mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                page_designer.page_rebuild();
            }
        });
    };
</script>